extends admin

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      p.navbar-text.navbar-right
        a.navbar-link(href='/login/logout') Выйти
      p.navbar-text
        a.navbar-link(href='/posts') Новости
      p.navbar-text
        a.navbar-link(href='/dashboard') Добавить новость

  .container.post
    .panel.panel-default
      .panel-heading
        h3.panel-title Редактировать пост
      .panel-body
        form.edit(action='/post/' + post.id + '/update', method='post', onsubmit="return getContent()", enctype='multipart/form-data')
          .form-group
            label(for='name') &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;
            input#name.form-control.title(type='text', value=post.title, name="title")
          .form-group
            label(for='short') Краткое содержание
            textarea#short.form-control.short(rows=4, name="shortContent")=post.shortContent
            textarea#content(style="display: none", name="content")
          .form-group
            label Контент
            #editor(name="content")
              | !{post.content}
          .form-group
            label(for='file') Выберите файл
            input#file.form-control.file(type='file', name="image")
          |  
          button.btn.btn-default.save-post(type='submit') Сохранить
        form.delete(action='/post/' + post.id + '/delete', method='post')
          button.btn.btn-danger.del-post(type='submit') Удалить
  script(src='https://cdn.quilljs.com/1.2.3/quill.js')
  script(src='/js/edit.js')
