extends layout

block content
  body.home
    #fb-root
    header
      .header-top
        .container.clearfix
          .header-social
            a(href='')
              i.fa.fa-facebook(aria-hidden='true')
            a(href='')
              i.fa.fa-vk(aria-hidden='true')
            a(href='')
              i.fa.fa-instagram(aria-hidden='true')
            a(href='')
              i.fa.fa-twitter(aria-hidden='true')
            a(href='')
              i.fa.fa-telegram(aria-hidden='true')
            a(href='')
              i.fa.fa-youtube-play(aria-hidden='true')
            a(href='')
              i.fa.fa-odnoklassniki(aria-hidden='true')
          |  
          a.logo(href='/') &Acy;&ncy;&dcy;&rcy;&iecy;&jcy; &Kcy;&lcy;&ycy;&chcy;&kcy;&ocy;&vcy;
          .menu-burger
            span
            span
            span
        .mobile-menu
          .container
            .header-social
              a(href='')
                i.fa.fa-facebook(aria-hidden='true')
              a(href='')
                i.fa.fa-vk(aria-hidden='true')
              a(href='')
                i.fa.fa-instagram(aria-hidden='true')
              a(href='')
                i.fa.fa-twitter(aria-hidden='true')
              a(href='')
                i.fa.fa-telegram(aria-hidden='true')
              a(href='')
                i.fa.fa-youtube-play(aria-hidden='true')
              a(href='')
                i.fa.fa-odnoklassniki(aria-hidden='true')
            nav
              ul.clearfix
                li
                  a(href='index.html') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                li
                  a(href='biography.html') &Bcy;&icy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy;
                li
                  a(href='volunteers.html') &Vcy;&ocy;&lcy;&ocy;&ncy;&tcy;&iecy;&rcy;&acy;&mcy;
                li
                  a(href='support.html') &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&acy;&tcy;&softcy;
                li
                  a(href='contacts.html') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      .header-bottom
        .container.clearfix
          nav
            ul.clearfix
              li.active
                a(href='index.html') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
              li
                a(href='biography.html') &Bcy;&icy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy;
              li
                a(href='volunteers.html') &Vcy;&ocy;&lcy;&ocy;&ncy;&tcy;&iecy;&rcy;&acy;&mcy;
              li
                a(href='support.html') &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&acy;&tcy;&softcy;
              li.photo
                a(href='index.html')
                  img(src='images/img-1.png')
              li
                a(href='contacts.html') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
    main
      section.container.clearfix
        section.main-contant
          article.post-item
            a.post-item-title(href='single.html') &Kcy;&acy;&kcy; &kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ycy; &vcy;&scy;&iecy;&jcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy; &bcy;&rcy;&yacy;&ncy;&scy;&kcy;&icy;&khcy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&icy;&kcy;&ocy;&vcy; &icy;&scy;&pcy;&ucy;&gcy;&acy;&lcy;&icy;&scy;&softcy;
            .post-item-top.clearfix
              .post-item-top-data
                data(value='19.03.2017') 19.03.2017
                |  
                span ,
                |  
                time 15:24
              .view 921
            .contant
              p
                | &Scy; &mcy;&ocy;&mcy;&iecy;&ncy;&tcy;&acy; &rcy;&acy;&scy;&shcy;&icy;&rcy;&iecy;&ncy;&icy;&yacy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy; &pcy;&rcy;&ocy;&shcy;&lcy;&ocy; &pcy;&ocy;&chcy;&tcy;&icy; &chcy;&iecy;&tcy;&ycy;&rcy;&iecy; &gcy;&ocy;&dcy;&acy;, &ncy;&ocy; &dcy;&ocy; &scy;&icy;&khcy; &pcy;&ocy;&rcy; &ncy;&icy; &ocy;&dcy;&ncy;&acy; &icy;&zcy; &zcy;&acy;&yacy;&vcy;&lcy;&iecy;&ncy;&ncy;&ycy;&khcy; &tscy;&iecy;&lcy;&iecy;&jcy; &dcy;&ocy;&scy;&tcy;&icy;&gcy;&ncy;&ucy;&tcy;&acy; &ncy;&iecy; &bcy;&ycy;&lcy;&acy;. &Ncy;&acy; &pcy;&rcy;&icy;&scy;&ocy;&iecy;&dcy;&icy;&ncy;&iecy;&ncy;&ncy;&ycy;&khcy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&yacy;&khcy; &scy;&tcy;&rcy;&ocy;&yacy;&tcy;&scy;&yacy; &mcy;&ncy;&ocy;&gcy;&ocy;&ecy;&tcy;&acy;&zhcy;&kcy;&icy;, &vcy;&ycy;&rcy;&ucy;&bcy;&acy;&yucy;&tcy;&scy;&yacy; &lcy;&iecy;&scy;&acy; &icy; &ucy;&ncy;&icy;&chcy;&tcy;&ocy;&zhcy;&acy;&yucy;&tcy;&scy;&yacy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&kcy;&ocy;-&kcy;&ucy;&lcy;&softcy;&tcy;&ucy;&rcy;&ncy;&ycy;&iecy; &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&ycy;. &Tcy;&ocy; &zhcy;&iecy; &scy;&acy;&mcy;&ocy;&iecy; &gcy;&rcy;&ocy;&zcy;&icy;&tcy; &icy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy;&ucy; &pcy;&rcy;&icy;&rcy;&ocy;&dcy;&ncy;&ocy;&mcy;&ucy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&scy;&ucy; &laquo;&Rcy;&ucy;&bcy;&lcy;&iecy;&vcy;&ocy;-&Ucy;&scy;&pcy;&iecy;&ncy;&scy;&kcy;&ocy;&iecy;&raquo; - &acy;&ncy;&kcy;&lcy;&acy;&vcy;&ucy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy; &vcy; &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;. &Scy;&tcy;&ocy;&lcy;&icy;&chcy;&ncy;&ycy;&iecy; &vcy;&lcy;&acy;&scy;&tcy;&icy; &rcy;&iecy;&shcy;&icy;&lcy;&icy; &pcy;&ocy;&scy;&tcy;&rcy;&ocy;&icy;&tcy;&softcy; &zcy;&dcy;&iecy;&scy;&softcy; 7,7 &mcy;&icy;&lcy;&lcy;&icy;&ocy;&ncy;&ocy;&vcy; &kcy;&vcy;&acy;&dcy;&rcy;&acy;&tcy;&ncy;&ycy;&khcy; &mcy;&iecy;&tcy;&rcy;&ocy;&vcy; &zhcy;&icy;&lcy;&softcy;&yacy;, &pcy;&rcy;&ocy;&tcy;&icy;&vcy; &vcy;&ycy;&scy;&tcy;&ucy;&pcy;&icy;&lcy;&icy; &zhcy;&icy;&tcy;&iecy;&lcy;&icy; &icy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&ncy;&ycy;&iecy; &vcy;&lcy;&acy;&scy;&tcy;&icy;. &Kcy;&acy;&kcy; &scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy; &ecy;&tcy;&ucy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&yucy; &icy; &pcy;&ocy;&chcy;&iecy;&mcy;&ucy; &gcy;&ocy;&rcy;&ocy;&dcy;&scy;&kcy;&icy;&iecy; &chcy;&icy;&ncy;&ocy;&vcy;&ncy;&icy;&kcy;&icy; &ncy;&iecy; &tcy;&ocy;&rcy;&ocy;&pcy;&yacy;&tcy;&scy;&yacy; &ucy;&chcy;&iecy;&scy;&tcy;&softcy; &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ycy; &vcy;&scy;&iecy;&khcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;, &ocy;&bcy;&scy;&ucy;&dcy;&icy;&lcy;&icy; &ucy;&chcy;&acy;&scy;&tcy;&ncy;&icy;&kcy;&icy; &kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&gcy;&ocy; &scy;&tcy;&ocy;&lcy;&acy;.
              |  
              img(src='images/IMG-20160526-WA0004.jpg')
              p
                | &Scy; &mcy;&ocy;&mcy;&iecy;&ncy;&tcy;&acy; &rcy;&acy;&scy;&shcy;&icy;&rcy;&iecy;&ncy;&icy;&yacy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy; &pcy;&rcy;&ocy;&shcy;&lcy;&ocy; &pcy;&ocy;&chcy;&tcy;&icy; &chcy;&iecy;&tcy;&ycy;&rcy;&iecy; &gcy;&ocy;&dcy;&acy;, &ncy;&ocy; &dcy;&ocy; &scy;&icy;&khcy; &pcy;&ocy;&rcy; &ncy;&icy; &ocy;&dcy;&ncy;&acy; &icy;&zcy; &zcy;&acy;&yacy;&vcy;&lcy;&iecy;&ncy;&ncy;&ycy;&khcy; &tscy;&iecy;&lcy;&iecy;&jcy; &dcy;&ocy;&scy;&tcy;&icy;&gcy;&ncy;&ucy;&tcy;&acy; &ncy;&iecy; &bcy;&ycy;&lcy;&acy;.
            hr
          article.post-item
            a.post-item-title(href='single.html') &Kcy;&acy;&kcy; &kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ycy; &vcy;&scy;&iecy;&jcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy; &bcy;&rcy;&yacy;&ncy;&scy;&kcy;&icy;&khcy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&icy;&kcy;&ocy;&vcy; &icy;&scy;&pcy;&ucy;&gcy;&acy;&lcy;&icy;&scy;&softcy;
            .post-item-top.clearfix
              .post-item-top-data
                data(value='19.03.2017') 19.03.2017
                |  
                span ,
                |  
                time 15:24
              .view 921
            .contant
              img(src='images/IMG-20160526-WA0004.jpg')
              p
                | &Scy; &mcy;&ocy;&mcy;&iecy;&ncy;&tcy;&acy; &rcy;&acy;&scy;&shcy;&icy;&rcy;&iecy;&ncy;&icy;&yacy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy; &pcy;&rcy;&ocy;&shcy;&lcy;&ocy; &pcy;&ocy;&chcy;&tcy;&icy; &chcy;&iecy;&tcy;&ycy;&rcy;&iecy; &gcy;&ocy;&dcy;&acy;, &ncy;&ocy; &dcy;&ocy; &scy;&icy;&khcy; &pcy;&ocy;&rcy; &ncy;&icy; &ocy;&dcy;&ncy;&acy; &icy;&zcy; &zcy;&acy;&yacy;&vcy;&lcy;&iecy;&ncy;&ncy;&ycy;&khcy; &tscy;&iecy;&lcy;&iecy;&jcy; &dcy;&ocy;&scy;&tcy;&icy;&gcy;&ncy;&ucy;&tcy;&acy; &ncy;&iecy; &bcy;&ycy;&lcy;&acy;. &Ncy;&acy; &pcy;&rcy;&icy;&scy;&ocy;&iecy;&dcy;&icy;&ncy;&iecy;&ncy;&ncy;&ycy;&khcy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&yacy;&khcy; &scy;&tcy;&rcy;&ocy;&yacy;&tcy;&scy;&yacy; &mcy;&ncy;&ocy;&gcy;&ocy;&ecy;&tcy;&acy;&zhcy;&kcy;&icy;, &vcy;&ycy;&rcy;&ucy;&bcy;&acy;&yucy;&tcy;&scy;&yacy; &lcy;&iecy;&scy;&acy; &icy; &ucy;&ncy;&icy;&chcy;&tcy;&ocy;&zhcy;&acy;&yucy;&tcy;&scy;&yacy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&kcy;&ocy;-&kcy;&ucy;&lcy;&softcy;&tcy;&ucy;&rcy;&ncy;&ycy;&iecy; &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&ycy;. &Tcy;&ocy; &zhcy;&iecy; &scy;&acy;&mcy;&ocy;&iecy; &gcy;&rcy;&ocy;&zcy;&icy;&tcy; &icy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy;&ucy; &pcy;&rcy;&icy;&rcy;&ocy;&dcy;&ncy;&ocy;&mcy;&ucy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&scy;&ucy; &laquo;&Rcy;&ucy;&bcy;&lcy;&iecy;&vcy;&ocy;-&Ucy;&scy;&pcy;&iecy;&ncy;&scy;&kcy;&ocy;&iecy;&raquo; - &acy;&ncy;&kcy;&lcy;&acy;&vcy;&ucy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy; &vcy; &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;. &Scy;&tcy;&ocy;&lcy;&icy;&chcy;&ncy;&ycy;&iecy; &vcy;&lcy;&acy;&scy;&tcy;&icy; &rcy;&iecy;&shcy;&icy;&lcy;&icy; &pcy;&ocy;&scy;&tcy;&rcy;&ocy;&icy;&tcy;&softcy; &zcy;&dcy;&iecy;&scy;&softcy; 7,7 &mcy;&icy;&lcy;&lcy;&icy;&ocy;&ncy;&ocy;&vcy; &kcy;&vcy;&acy;&dcy;&rcy;&acy;&tcy;&ncy;&ycy;&khcy; &mcy;&iecy;&tcy;&rcy;&ocy;&vcy; &zhcy;&icy;&lcy;&softcy;&yacy;, &pcy;&rcy;&ocy;&tcy;&icy;&vcy; &vcy;&ycy;&scy;&tcy;&ucy;&pcy;&icy;&lcy;&icy; &zhcy;&icy;&tcy;&iecy;&lcy;&icy; &icy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&ncy;&ycy;&iecy; &vcy;&lcy;&acy;&scy;&tcy;&icy;. &Kcy;&acy;&kcy; &scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy; &ecy;&tcy;&ucy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&yucy; &icy; &pcy;&ocy;&chcy;&iecy;&mcy;&ucy; &gcy;&ocy;&rcy;&ocy;&dcy;&scy;&kcy;&icy;&iecy; &chcy;&icy;&ncy;&ocy;&vcy;&ncy;&icy;&kcy;&icy; &ncy;&iecy; &tcy;&ocy;&rcy;&ocy;&pcy;&yacy;&tcy;&scy;&yacy; &ucy;&chcy;&iecy;&scy;&tcy;&softcy; &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ycy; &vcy;&scy;&iecy;&khcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;, &ocy;&bcy;&scy;&ucy;&dcy;&icy;&lcy;&icy; &ucy;&chcy;&acy;&scy;&tcy;&ncy;&icy;&kcy;&icy; &kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&gcy;&ocy; &scy;&tcy;&ocy;&lcy;&acy;.
            hr
          article.post-item
            a.post-item-title(href='single.html') &Kcy;&acy;&kcy; &kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ycy; &vcy;&scy;&iecy;&jcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy; &bcy;&rcy;&yacy;&ncy;&scy;&kcy;&icy;&khcy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&icy;&kcy;&ocy;&vcy; &icy;&scy;&pcy;&ucy;&gcy;&acy;&lcy;&icy;&scy;&softcy;
            .post-item-top.clearfix
              .post-item-top-data
                data(value='19.03.2017') 19.03.2017
                |  
                span ,
                |  
                time 15:24
              .view 921
            .contant
              p
                | &Scy; &mcy;&ocy;&mcy;&iecy;&ncy;&tcy;&acy; &rcy;&acy;&scy;&shcy;&icy;&rcy;&iecy;&ncy;&icy;&yacy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy; &pcy;&rcy;&ocy;&shcy;&lcy;&ocy; &pcy;&ocy;&chcy;&tcy;&icy; &chcy;&iecy;&tcy;&ycy;&rcy;&iecy; &gcy;&ocy;&dcy;&acy;, &ncy;&ocy; &dcy;&ocy; &scy;&icy;&khcy; &pcy;&ocy;&rcy; &ncy;&icy; &ocy;&dcy;&ncy;&acy; &icy;&zcy; &zcy;&acy;&yacy;&vcy;&lcy;&iecy;&ncy;&ncy;&ycy;&khcy; &tscy;&iecy;&lcy;&iecy;&jcy; &dcy;&ocy;&scy;&tcy;&icy;&gcy;&ncy;&ucy;&tcy;&acy; &ncy;&iecy; &bcy;&ycy;&lcy;&acy;. &Ncy;&acy; &pcy;&rcy;&icy;&scy;&ocy;&iecy;&dcy;&icy;&ncy;&iecy;&ncy;&ncy;&ycy;&khcy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&yacy;&khcy; &scy;&tcy;&rcy;&ocy;&yacy;&tcy;&scy;&yacy; &mcy;&ncy;&ocy;&gcy;&ocy;&ecy;&tcy;&acy;&zhcy;&kcy;&icy;, &vcy;&ycy;&rcy;&ucy;&bcy;&acy;&yucy;&tcy;&scy;&yacy; &lcy;&iecy;&scy;&acy; &icy; &ucy;&ncy;&icy;&chcy;&tcy;&ocy;&zhcy;&acy;&yucy;&tcy;&scy;&yacy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&kcy;&ocy;-&kcy;&ucy;&lcy;&softcy;&tcy;&ucy;&rcy;&ncy;&ycy;&iecy; &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&ycy;. &Tcy;&ocy; &zhcy;&iecy; &scy;&acy;&mcy;&ocy;&iecy; &gcy;&rcy;&ocy;&zcy;&icy;&tcy; &icy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy;&ucy; &pcy;&rcy;&icy;&rcy;&ocy;&dcy;&ncy;&ocy;&mcy;&ucy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&scy;&ucy; &laquo;&Rcy;&ucy;&bcy;&lcy;&iecy;&vcy;&ocy;-&Ucy;&scy;&pcy;&iecy;&ncy;&scy;&kcy;&ocy;&iecy;&raquo; - &acy;&ncy;&kcy;&lcy;&acy;&vcy;&ucy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy; &vcy; &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;. &Scy;&tcy;&ocy;&lcy;&icy;&chcy;&ncy;&ycy;&iecy; &vcy;&lcy;&acy;&scy;&tcy;&icy; &rcy;&iecy;&shcy;&icy;&lcy;&icy; &pcy;&ocy;&scy;&tcy;&rcy;&ocy;&icy;&tcy;&softcy; &zcy;&dcy;&iecy;&scy;&softcy; 7,7 &mcy;&icy;&lcy;&lcy;&icy;&ocy;&ncy;&ocy;&vcy; &kcy;&vcy;&acy;&dcy;&rcy;&acy;&tcy;&ncy;&ycy;&khcy; &mcy;&iecy;&tcy;&rcy;&ocy;&vcy; &zhcy;&icy;&lcy;&softcy;&yacy;, &pcy;&rcy;&ocy;&tcy;&icy;&vcy; &vcy;&ycy;&scy;&tcy;&ucy;&pcy;&icy;&lcy;&icy; &zhcy;&icy;&tcy;&iecy;&lcy;&icy; &icy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&ncy;&ycy;&iecy; &vcy;&lcy;&acy;&scy;&tcy;&icy;. &Kcy;&acy;&kcy; &scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy; &ecy;&tcy;&ucy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&yucy; &icy; &pcy;&ocy;&chcy;&iecy;&mcy;&ucy; &gcy;&ocy;&rcy;&ocy;&dcy;&scy;&kcy;&icy;&iecy; &chcy;&icy;&ncy;&ocy;&vcy;&ncy;&icy;&kcy;&icy; &ncy;&iecy; &tcy;&ocy;&rcy;&ocy;&pcy;&yacy;&tcy;&scy;&yacy; &ucy;&chcy;&iecy;&scy;&tcy;&softcy; &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ycy; &vcy;&scy;&iecy;&khcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;, &ocy;&bcy;&scy;&ucy;&dcy;&icy;&lcy;&icy; &ucy;&chcy;&acy;&scy;&tcy;&ncy;&icy;&kcy;&icy; &kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&gcy;&ocy; &scy;&tcy;&ocy;&lcy;&acy;.
            hr
        aside
          .search
            form.clearfix
              input(type='text', name='search', placeholder='Поиск')
              |  
              input(type='submit')
          .aside-news
            .post-item-title &Scy;&mcy;&ocy;&tcy;&rcy;&icy;&tcy;&iecy; &iecy;&shchcy;&iecy;
            .aside-post-item
              a(href='single.html') &Vcy;&ocy;&tcy; &ocy;&ncy;&icy;, &scy;&acy;&mcy;&ycy;&iecy; &scy;&tcy;&rcy;&acy;&shcy;&ncy;&ycy;&iecy; &lcy;&yucy;&dcy;&icy; &dcy;&lcy;&yacy; &kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ocy;&vcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy;. &Bcy;&rcy;&yacy;&ncy;&scy;&kcy;&icy;&iecy;...
              .post-item-top.clearfix
                .post-item-top-data
                  data(value='19.03.2017') 19.03.2017
                  |  
                  span ,
                  |  
                  time 15:24
            .aside-post-item
              a(href='single.html') &Vcy;&ocy;&tcy; &ocy;&ncy;&icy;, &scy;&acy;&mcy;&ycy;&iecy; &scy;&tcy;&rcy;&acy;&shcy;&ncy;&ycy;&iecy; &lcy;&yucy;&dcy;&icy; &dcy;&lcy;&yacy; &kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ocy;&vcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy;. &Bcy;&rcy;&yacy;&ncy;&scy;&kcy;&icy;&iecy;...
              .post-item-top.clearfix
                .post-item-top-data
                  data(value='19.03.2017') 19.03.2017
                  |  
                  span ,
                  |  
                  time 15:24
            .aside-post-item
              a(href='single.html') &Vcy;&ocy;&tcy; &ocy;&ncy;&icy;, &scy;&acy;&mcy;&ycy;&iecy; &scy;&tcy;&rcy;&acy;&shcy;&ncy;&ycy;&iecy; &lcy;&yucy;&dcy;&icy; &dcy;&lcy;&yacy; &kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ocy;&vcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy;. &Bcy;&rcy;&yacy;&ncy;&scy;&kcy;&icy;&iecy;...
              .post-item-top.clearfix
                .post-item-top-data
                  data(value='19.03.2017') 19.03.2017
                  |  
                  span ,
                  |  
                  time 15:24